@import "tailwindcss";

@theme {
  --color-primaryAccent: "#4f46e5";
  --color-primaryAccentDark: "#4338ca";
  --color-textColor: #1a090d;
  --color-primary: #71a9f7;
  --color-primaryAccent: #124e78;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

